<p>{{model.created}}</p>
<div class="row">
  <p>Original</p>
  {{textarea value=model.original rows=6 cols=100 class="col-lg-12"}}
  <p>Original Compressed</p>
  {{textarea value=model.originalCompressed rows=6 cols=100 class="col-lg-12"}}
  <p>Beauty</p>
  {{textarea value=model.beauty rows=6 cols=100 class="col-lg-12"}}
  <p>Beauty Compressed</p>
  {{textarea value=model.beautyCompressed rows=6 cols=100 class="col-lg-12"}}
</div>
